
header {
	height: 15%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 60px;
}


div#logo img {
	width: 134px;
	height: 30px;
	float: left;
}

div#product {
	width: 10%;
	float: right;
	font-size: 20px;
}

div#product a {
		text-decoration: none;
		color: #757575;
}

div#product a:hover {
	color: #000000;
}

div#logo2 img {
	width: 100px;
	height: 89px;
}

div#content {
	height: 75%;	
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-family: 'Circular-Book',Arial,sans-serif;
	color: #757575;
}

div#content a {
	text-decoration: none;
	color: #6DB5D6;
}


footer {
	text-align: center;
	padding-top: 70px;
	font-size: 12px;
}